*,
body,
html {
    margin: 0;
    border: 0;
    overflow-x: none;
}

#nav-container {
    height: 40px;
    width: 100vw;
    border-bottom: solid 1px lightgray;
    position: sticky;
    top: 0;
    background-color: white;
}

#nav-container>nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#nav-container>nav>ul>div {
    display: flex;
    flex-direction: row;
}

#brand {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}

.list-item {
    text-decoration: none;
    list-style: none;
    padding: 10px;
}

.list-item>button {
    height: 25px;
    padding: 5px;
    background-color: lightslategray;
    border-radius: 2px;
    color: white;
}

.list-item>img {
    height: 30px;
    width: 30px;
}

.list-item>button:hover {
    cursor: pointer;
}

header {
    padding-bottom: 50px;
}

header>img {
    width: 1080px;
    height: 720px;
}

header p {
    color: rgb(65, 65, 65);
}

#end {
    color: gray;
    padding: 50px;
}

#article-title {
    padding-bottom: 30px;
}

.main-icons {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: purple;
    display: inline-block;
}

#main-body {
    text-align: center;
    width: 30vw;
    margin: auto;
}

#main-body h5 {
    font-size: 1.3em;
}

.title-bar-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-bottom: 30px;
}

main section h5 {
    text-align: center;
}

#footer-container {
    width: 50vw;
    margin: auto;
    border-top: 2px solid lightgray;
}

#footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-links ul li {
    list-style: none;
    padding: 8px;
}

.link-title {
    font-weight: 800;
}

.subscribe {
    border-left: .1px solid rgb(180, 180, 180);
}

.img-container {
    width: 80vw;
}

.text-container {
    text-align: center;
}